
<style>

    .loginbody {
            background: url("images/background.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
    }


   .panel-transparent {
        background: none;
        color: white;
    }

    .panel-transparent .panel-heading{
        background: #4d90fe !important;
    }

    .panel-transparent .panel-body{
        background: rgba(46, 51, 56, 0.7)!important;

    }

     .panel-transparent-lighter {
        background: none;
        color: white;
    }

    .panel-transparent-lighter .panel-heading{
        background: rgba(122, 130, 136, 0.4)!important;
    }

    .panel-transparent-lighter .panel-body{
        background: rgba(46, 51, 56, 0.4)!important;

    }
    .material-icons{
        color: white;
    }
    .form-control{
        color: white;
    }
</style>
<div class="loginbody">
      <div class="container" style="padding-top:50px;">
        <div class="row col-lg-12">
          <div class="col-lg-6">
                <div class="container" style="padding-top:2px;">
                    <div class="row">
                        <div class="col-lg-6 " style="color:white;font-family:Roboto;">
                                <h1>Social Handle Aggregator</h1>
                                <h3>Your social life,all at once!</h3>

                             <div style="padding-top:55%;">
                                <h2>Making your social life easy,and time saving too.</h2>
                      </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--description starts-->
            <div class="col-lg-6" style="padding-top:80px;">
            <div class="row-fluid">
            <div class="col-lg-offset-2 col-lg-8" style="padding-top: 20px;">
                <div class="panel panel-info panel-transparent">
                      <div id="mypanelhead" class="panel-heading"  >
                        <h3 class="panel-title text-center" >Login</h3>
                      </div>
                      <div class="panel-body">

                    <form id="loginform" class="" method="post" action="">
                           <div class="form-group input-group">
                                <span class="input-group-addon"><i class="material-icons">account_circle</i></span>
                                <label for="username" class="control-label"></label>
                                <input type="text" class="form-control" ng-model="userdata.username" placeholder="Enter username" required>
                             </div>
                          <div class="form-group input-group ">
                              <span class="input-group-addon"><i class="material-icons">vpn_key</i></span>
                              <input type="password" class="form-control" ng-model="userdata.password" placeholder="Enter Password" required>
                          </div>
                        <div class="row form-group">
                            <div style="padding-left:5%;">
                                <div class="row">
                                    <div class="" style="display:table">
                                        <button type="submit"  name="submitbtn" class="btn  btn-raised  btn-primary  " ng-click="login()" style="display:table-cell;background: #4d90fe;" >Login</button>
                                        <button type="button" name="registerbtn" class=" btn btn-info btn-raised " ng-click="rootctrl.redirect('/register');">Don't have an account? Get One!</button>
                                  </div>
                                </div>
                            </div>
                        </div>

                             </form>
                        </div>
                     </div>
                </div>
            </div>
        </div>
            </div>
        </div>
      <!--outermost container ends-->
</div>